@tailwind base;
@tailwind components;
@tailwind utilities;

.textStroke {
  -webkit-text-stroke: 1px black;
}
td{
  padding:12px 8px;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}